.App {
  text-align: center;
}
.box{
  display : flex;
  margin : auto;
  flex-direction : column;
  align-items : center;
  box-shadow : 0 3px 6px 0 #1dfe;
  padding : 20 10px;
  border-radius : 4px;
  width : 380px;
  height : 450px;
  background-color : white ;
}
button{
  cursor:pointer;
}
#applabel{
  display : flex;
  color : black ;
  font-size : 20px;
}

.temp{
  font-size : 15px;
}
.card{
  display:flex;
  flex-direction: column;
  margin:auto;
  border-radius: 4px;
  width:300px;
  padding: 20px 10px;
  height:150px;
  align-items:center;
  background-color: white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

